.app{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to top, rgb(0, 183, 255), rgb(0, 132, 255));
  }
  .wrapper{
    width: 100%;
  }
  .card{
    scroll-snap-align: start;
    height: 340px;
    max-width: 350px;
    min-width: 300px;
  }
  
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 15px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  .carousel::-webkit-scrollbar{
    display: none;
  }
  .carousel:where(.card){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel.no-transition{
    scroll-behavior: auto;
  }
  
  .carousel.dragging{
    scroll-behavior: auto;
    scroll-snap-type: none;
  
  }
  
  @media screen and (max-width: 1124px){
    .wrapper .carousel {
      grid-auto-columns: calc((100%/3) - 12px);
    }
  }
  
  @media screen and (max-width: 900px){
    .wrapper .carousel {
      grid-auto-columns: calc((100%/2) - 9px);
    }
  }
  
  
  @media screen and (max-width: 600px){
    .wrapper .carousel {
      grid-auto-columns: calc(100%);
    }
    .wrapper{
      max-width: 300px;
    }
  }
  
  